
*, *::after, *::before {
    box-sizing: border-box;

    padding:0;
    margin:0;

}
html {
   height:100%;
   width:100%;
}
body 
{
    height:100%;
    width:100%;
    font-family: 'Roboto', sans-serif;

   
}
.grid-container {
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns: 80px auto 5fr;

    grid-template-rows: auto;   

 
  
   
}
.logo {
    color:white;
    margin-bottom: 20px;
  
}
a {
    font-weight: bold;
    text-decoration: none;
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
    
    
}

.dashboard-items li {
   
    width:100%;
    display:flex;

  
   /* margin-bottom: 40%;*/
    align-items: center;
    justify-content: center;
 
    padding:10px;
    list-style-type: none;
}

i {
padding:5px;
}
.dashboard-nav {

    padding:10px;
    display:flex;
    background-color: purple;
 
 
   align-items: center;
justify-content: space-between;
  
    flex-direction: column;
  
 
  
 
    

    
 


    
}

.dashboard-items {


    
}

.chats {
   
    display:grid;
    grid-template-columns: fit-content;
    grid-template-rows: 100px auto;
    flex-direction: column;
    

   
    
    background-color: rgb(82, 20, 139);
    
}
.chats-header {
    
    padding:20px;
    width:100%;
    height:100%;

    display:flex;
    align-items: center;
  
    background-color: rgb(82, 20, 139);
    color:white;
}

.all-chats {
    grid-column:  1/ -1;
    grid-row: 2;
 
    height:0vh;
    max-height:100%;
    
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    
    overflow:auto;
    max-height:0vh;

    min-height:100%;
   
}
.all-chats::-webkit-scrollbar {
    width: 6px;      
}  
.all-chats::-webkit-scrollbar-track {
    background-color: rgb(82, 20, 139);      /* color of the tracking area */
   
  }
  .all-chats::-webkit-scrollbar-thumb {
      background-color: rgb(246, 246, 246);
      border-radius: 5px;
      border:1px solid rgb(82, 20, 139);      /* color of the tracking area */
   

  }
.profile-pic-container {
   
    width:65px;
    position: relative;
    
}

.profile-pic-container::after {
    content:'';
    position: absolute;
    width:15px;
    height:15px;
    background-color: rgb(236, 155, 5);
    border-radius: 50%;
    z-index:100;
    bottom:0;
    left:50px;
    border:2px solid purple;

    
    
}
img {
    border-radius: 50%;
    width: 100%;
    height: 100%;

    object-fit: cover;

}


.chat-box {
    
    margin-top:10px;
    background-color: rgb(255, 255, 255);
    padding:20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display:flex;
    gap:10px;  
   
}
.chat-box:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 300ms ease-in-out;
}
.chat-box-img-container {
    width:70px;
    height:70px;
    object-fit: cover;
    position: relative;
    
}
.chat-box-img-container::after {
    content:'';
    width:14px;
    height:14px;
   
    right:5px;
    bottom:0;
    position: absolute;
    
    border-radius: 50%;

    border: 2px solid rgb(255, 255, 255);
}

.active {
    
}
.chat-box-img-container.active::after {
    
    background-color: rgb(59, 209, 0);

}
.chat-box-img-container.idle::after {
    
    background-color: rgb(228, 156, 24);
 
}
.chat-box-img-container.busy::after {
    
    background-color: rgb(245, 8, 8);
 
}
.chat-box-img-container.offline::after {
    
    background-color: rgb(255, 255, 255);
    border: 0.05em solid rgb(17, 13, 13);
}



.all-messages {
    
  

 
  
    padding-right:40px;
    padding-left:60px;
    color: white;


    max-height:0vh;

    min-height:100%;
    overflow-y: scroll;
    grid-column: 2 / 1  ;
  
    grid-row: 2  / 3;
    padding-bottom:10px;

    padding-top:10px;
    display:flex; 
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column-reverse;
    
}

.all-messages::-webkit-scrollbar {
    width: 6px;      
}  
.all-messages::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);        /* color of the tracking area */
   
  }
  .all-messages::-webkit-scrollbar-thumb {
      background-color: rgb(54, 54, 192);
      border-radius: 5px;
      border:1px solid white;

  }
.left-message {

    margin-top:20px;

    position: relative;
    width:fit-content;
    margin-left:auto;
    justify-content: end;

    flex:1;

  
    padding: 8px;
    background-color: rgb(192, 51, 248);
    border-radius: 5px;

}

.right-message {
 
    position: relative;
    flex:1;
    width:fit-content;

    padding:8px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    color:black;
    border-radius: 5px;
    margin-top:20px;

}

.react {
    position: absolute;
    font-size:.8em;
    
    top:-24px;
    right:0;
    z-index:1;
    background-color: rgb(255, 255, 255);
    border-radius:20px;
    padding:5px;
  width:fit-content;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  
}
.all-messages .right-message:nth-child(1){

    position: relative;

}

.message-info {
 
    display:flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: end    ;

    gap:4px;
    padding-bottom:0.2em;

}
.message-info .reaction {
    margin-left:auto;
    padding:0;
    font-size: 0.7em;
   
   
}
.message-info .name-of-sender {
   font-weight: bold;
    font-size:0.62em;

}

.message-info .time-sent {
   
    font-size:0.62em;
}
.messages-nav {
    display:flex;
    justify-content: end;
    align-items: center;
    padding:20px;
    background-color: rgb(137, 59, 211);
}
.messages {

 
display:grid;
grid-template-columns: 1fr;
grid-template-rows: 100px auto 80px;

  
}
.messages-nav ul {

  
    width:50%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    flex-shrink:1;
}
.messages-nav h1 
{
    color:white;

}
.messages-nav p {
    color:white;
}
.messages-nav-info {
    width:100%;
margin-left:auto;
}
li {
    list-style-type: none;
}

input {
  
    width:100%;
    min-height:100%;

    padding:10px;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

button 
{
    color:white;
    font-weight: bold;
    background-color: rgb(208, 16, 226);
    border:none;
    width:20%;  
    border-radius: 5px;
}
.fa-paper-plane {
    color:purple;
    font-size:2em;
}



.footer 
{
    display:flex;
    position: relative;
}
.send-message 
{
    padding-left:5px;
    padding-right:5px;
    padding-bottom:5px;
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
}

.left-message .profile-pic-sender {  
    position: absolute;
    right:-70px;
    top:0;
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 10%;
}

.left-message .profile-pic-sender::after, .right-message .profile-pic-sender::after{
    content:'';
    width:12px;
    height:12px;
    right:3px;
    bottom:0;
    position: absolute;  
    border-radius: 50%;
    background-color: aqua;
    border: 0.09em solid rgb(255, 255, 255);
    
}
.left-message .profile-pic-sender.active::after, .right-message .profile-pic-sender.active::after {
    
    background-color: rgb(59, 209, 0);

}
.left-message .profile-pic-sender.active::after, .right-message .profile-pic-sender.idle::after {
    
    background-color: rgb(228, 156, 24);
 
}
.left-message .profile-pic-sender.active::after, .right-message .profile-pic-sender.busy::after {
    
    background-color: rgb(245, 8, 8);
 
}
.left-message .profile-pic-sender.active::after, .right-message .profile-pic-sender.offline::after {
    
    background-color: rgb(255, 255, 255);
    border: 0.05em solid rgb(17, 13, 13);
}


.right-message .profile-pic-sender {
    
    position: absolute;
    left:-70px;
    top:0;

    object-fit: cover;

    width: 60px;
    height: 60px;
    border-radius: 10%;
  

    
}
.message-icon {
    font-size: 50px;
    filter: invert(1);
}


.menu-toggle {
  
    
    display:flex;
    flex-direction: column;
    gap:5px;
}
 
.menu-toggle > span  {
    display:none; 
    width: 26px;
height:2px;

    background-color: beige;
 
}

@media (min-width:768px) {
    
    .dashboard-nav {

     
      
      
font-size:0.9em;
      
     
        
    
        
     
    
    
        
    }
    .all-messages {
       
        width:80%;;
        margin-left:auto;
        font-size: 1.5em;
    }
  
    .right-message .profile-pic-sender {
        
        position: absolute;
        left:-60px;
        top:10px;
    
        object-fit: cover;
    
        width: 50px;
        height: 50px;
        border-radius: 10%;
     
    
     
    }
    
}
@media (max-width:1024px) {

    .messages-nav {
        height:100%;
        
        font-size:0.8em;
        flex-shrink:0;
        

    }
    .messages-nav-icon{
        font-size:2em;
    }

    .grid-container {
    
     
    
    
    
     
      
       
    }
    .chats {
        display:none;
    }

    .messages {
        grid-template-rows: 60px auto 80px;;
        grid-column: 2 / -1;
    }
    .messages-nav {
        justify-content: space-between;
    }
    .all-messages {
    
        margin:auto;
        width:100%;
    }
    .all-messages p {
        font-size:0.8em;
    }
    ul.messages-nav-items{

        display:none;

    }
    .menu-toggle span {
        display:block;
    }
    .left-message .profile-pic-sender {
    
      
    
        width:40px;
        height: 40px;
    
    }
    .right-message .profile-pic-sender {
        
    
    
        width:40px;
        height: 40px;

    }

    .messages-nav-info p {
        display:none;
    }


    .right-message .profile-pic-sender {
        
        position: absolute;
        left:-29px;
        top:4px;
    
        object-fit: cover;
    
        width: 25px;
        height: 25px;
        border-radius: 10%;
      
    
     
    }
    .all-messages {
    
  

 
        padding-left:40px;
        padding-right: 20px;
    }

    
.left-message .profile-pic-sender::after, .right-message .profile-pic-sender::after{
    content:'';
    width:7px;
    height:7px;
    right:3px;
    bottom:0;
    position: absolute;  
    border-radius: 50%;
    background-color: aqua;
    border: 0.05em solid rgb(255, 255, 255);
    
}
}

.display-none {
    display:none;
}
/* Login form */

/* .login-form-container {

    width:100%;
    height:100%;
   
    display:flex;
    justify-content: center;
    align-items: center;
}

.login-form {
  
  display:flex;
  flex-direction: column;
  align-items: center;
    padding:30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;


}

.login-form a {
    color:black;
}
.row {
    width:100%;
    height:100%;
    display:flex;

    align-items: center;
    justify-content: center;
    
}
.row button {
    width:100%;
    padding:10px;
}
.col {
    width:100%;
    display:flex;
    flex-direction: column;
    padding:10px;
    
}

.together input {
   
    width:fit-content;
    
}

.together label {
    font-size:0.7em;
}

.together p {
    font-size:0.7em;
}

a {
    font-size:0.7em;
} */