
*, *::after, *::before {
    box-sizing: border-box;

    padding:0;
    margin:0;

}
html {
   height:100%;
   width:100%;
}
body 
{
    height:100%;
    width:100%;
    font-family: 'Roboto', sans-serif;

   
}
.grid-container {
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns: 80px auto 5fr;

    grid-template-rows: auto;   

 
  
   
}
.logo {
    color:white;
    margin-bottom: 20px;
  
}
a {
    font-weight: bold;
    text-decoration: none;
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
    
    
}

.dashboard-items li {
   
    width:100%;
    display:flex;

  
   /* margin-bottom: 40%;*/
    align-items: center;
    justify-content: center;
 
    padding-top:20px;
    list-style-type: none;
}

i {
    padding:10px;
}
.dashboard-nav {

    background-color: purple;
 
 
   
    display:flex;
  
    flex-direction: column;
  
    justify-content: space-evenly;
    align-items: center;
 
    

    
 


    
}

.dashboard-items {

    margin-bottom:auto;
    
}

.chats {
    display:flex;
    flex-direction: column;
    
 
    padding:20px;
    
    background-color: rgb(82, 20, 139);
    
}

.profile-pic-container {
    margin-top:10px;
    width:65px;
    position: relative;
    margin-bottom:auto;
}

.profile-pic-container::after {
    content:'';
    position: absolute;
    width:15px;
    height:15px;
    background-color: rgb(35, 216, 11);
    border-radius: 50%;
    z-index:100;
    bottom:0;
    left:50px;
    border:2px solid black;

    
    
}
img {
    border-radius: 50%;
    width: 100%;
    height: 100%;

    object-fit: cover;

}

ul {
    
    
   
   
   
    
    
}
.chat-box {
    
    margin-top:10px;
    background-color: rgb(255, 255, 255);
    padding:20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
   display:flex;
   gap:10px;
    
}
.chat-box-img-container {
    width:70px;
    height:70px;
    object-fit: cover;

}


.all-messages {
    
  

 
    padding-left:100px;
    padding-right:100px;
    color: white;


    height:40vh;

    min-height:100%;
    overflow-y: scroll;
    grid-column: 2 / 1  ;
  
    grid-row: 2  / 3;
    
 
    padding-bottom: 10px;
}

.left-message {

    position: relative;
    width:fit-content;
    margin-left:auto;
    justify-content: end;

    flex:1;

    margin-top:20px;
    padding: 8px;
    background-color: rgb(192, 51, 248);
    border-radius: 5px;

}

.right-message {
    margin-top:20px;
    position: relative;
    flex:1;
    width:fit-content;

    padding:8px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    color:black;
    border-radius: 5px;
}

.message-info {
 
    display:flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: end    ;

    gap:4px;
    padding-bottom:0.2em;

}
.message-info .reaction {
    margin-left:auto;
    padding:0;
    font-size: 0.7em;
   
   
}
.message-info .name-of-sender {
   font-weight: bold;
    font-size:0.62em;

}

.message-info .time-sent {
   
    font-size:0.62em;
}
.messages-nav {
    display:flex;
    justify-content: end;
    align-items: center;
    padding:20px;
    background-color: rgb(137, 59, 211);
}
.messages {

 
display:grid;
grid-template-columns: 1fr;
grid-template-rows: 100px auto 80px;;

  
}
.messages-nav ul {

  
    width:50%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    flex-shrink:1;
}
.messages-nav h1 
{
    color:white;

}
.messages-nav p {
    color:white;
}
.messages-nav-info {
    width:100%;
margin-left:auto;
}
li {
    list-style-type: none;
}

input {
  
    width:100%;
    min-height:100%;

    padding:10px;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

button 
{
    color:white;
    font-weight: bold;
    background-color: rgb(208, 16, 226);
    border:none;
    width:20%;  
    border-radius: 5px;
}
.fa-paper-plane {
    color:purple;
    font-size:2em;
}



.footer {
    display:flex;
    
max-height:100%; 
 position: relative;
background-color: rgb(251, 241, 251);
    
}
.send-message {

 
    padding:10px;

    width:100%;
margin:auto;
    display:flex;
  
 
}

.left-message .profile-pic-sender {
    
    position: absolute;
    right:-70px;
    
    top:0;

    object-fit: cover;

    width: 60px;
    height: 60px;
    border-radius: 10%;
  

 
}
.right-message .profile-pic-sender {
    
    position: absolute;
    left:-70px;
    top:0;

    object-fit: cover;

    width: 60px;
    height: 60px;
    border-radius: 10%;
  

    
}
.message-icon {
    font-size: 50px;
    filter: invert(1);
}


.menu-toggle {
  
    padding:20px;
    display:flex;
    flex-direction: column;
    gap:5px;
}
 
.menu-toggle > span  {
    display:none; 
    width: 29px;
height:3px;

    background-color: beige;
 
}

@media (min-width:768px) {


    .all-messages {
        width:80%;;
        margin:auto;
    }
    .left-message .profile-pic-sender {
        position: absolute;
        right:-27px;
        top:18px;
    
        object-fit: cover;
    
        width: 25px;
        height: 25px;
        border-radius: 10%;
      
    

    }
    .right-message .profile-pic-sender {
        
        position: absolute;
        left:-29px;
        top:10px;
    
        object-fit: cover;
    
        width: 25px;
        height: 25px;
        border-radius: 10%;
      
    
     
    }
    
}
@media (max-width:1024px) {

    .messages-nav {
        height:60px;
        font-size:0.8em;
        flex-shrink:0;
        

    }
    .messages-nav-icon{
        font-size:2em;
    }

    .grid-container {
    
     
    
    
    
     
      
       
    }
    .chats {
        display:none;
    }

    .messages {
        grid-template-rows: 60px auto 80px;;
        grid-column: 2 / 5;
    }
    .messages-nav {
        justify-content: space-between;
    }
    .all-messages {
    
        margin:auto;
        width:100%;
    }
    .all-messages p {
        font-size:0.8em;
    }
    ul.messages-nav-items{

        display:none;

    }
    .menu-toggle span {
        display:block;
    }
    .left-message .profile-pic-sender {
    
      
    
        width:40px;
        height: 40px;
    
    }
    .right-message .profile-pic-sender {
        
    
    
        width:40px;
        height: 40px;

    }

    .messages-nav-info p {
        display:none;
    }


    .left-message .profile-pic-sender {
        position: absolute;
        right:-27px;
        top:18px;
    
        object-fit: cover;
    
        width: 25px;
        height: 25px;
        border-radius: 10%;
      
    
   
    }
    .right-message .profile-pic-sender {
        
        position: absolute;
        left:-29px;
        top:4px;
    
        object-fit: cover;
    
        width: 25px;
        height: 25px;
        border-radius: 10%;
      
    
     
    }
    .all-messages {
    
  

 
        padding-left:40px;
        padding-right: 20px;
    }
}